.malls ul li{
display:inline;
width: 600px;
margin: auto;
font-size: 22px;
padding-right: 70px;
font-family: verdana;
color: 565185;
}
.malls
{
  height:50px;
  margin-top:20px;
    border-top:2px solid grey;
    border-bottom:2px solid grey;
}
body{
background-color:white;
font-family: inherit;
}
.logo
{
  width:120px;
  height:80px;
  margin-top:0;
}

h1
{
  text-align:center;
  line-height: 100px;
  margin-right: 0;
  border-left: 2px 8170D4;

}
.container_12
{
 margin-bottom:20px;
 background-color: 8E8FE8;
 width:100%;
}


.city h1
{
  font-size: 44px;
  line-height: 80px;
  font-family: verdana;
  color:565185;
}
.hom{
  padding-left:20px;

}
.mallimg{
  width:100%; 
}
.mallimg img{
  width:100%;
  height:500px;
}

.herounit{
  height:350px;
  margin-top: 20px;
}
.unit1{
  width:50%;
 
}
.unit1.grid_6
{
  width:600px;
  height:320px;
  margin-top:10px;
  margin-left:20px;
}

.unit1 img{
  width:300px;
  height:200px;
}

.unit1 p{
  width:200px;
  font-family:verdana;
  color:#003399;
  font-size: 14pt; 
  padding:0 10px 0 0;
  line-height: 20px;
  text-align:center;
}
div. grid_6{
  border:5px;
  height:30px;
  width:55px;
}
.he h2{
  font-size: 24pt;
  font-style: verdana;
  text-align: center;

}
.unit2{
  width:54%;
  border: 3px solid black;
  margin-top: 10px;
}
.unit2.grid_6
{ text-align:left;
  width:600px;
  height:320px;
}
.unit2 p{
  margin-bottom: 10px;
  font-style: verdana;
  font-size: 28pt;
  text-align: center;
}
.unit2 li{
  padding-bottom:4px;
  font-size:14pt;
  color:blue;
  font-family:verdana;
}
.maincontent{
  width:100%;
  height:250px;
  margin-top: 20px;
  margin-left: 0px;
}
.part1 {
  width:280px;
  height:150px;
}
.part2 {
  width:280px;
  height:150px;
}
.part3 {
  width:280px;
  height:150px;
}
.part4 {
  width:280px;
  height:150px;
}
.part1 p{
  font-size: 16pt;
  text-align:center;
  color: #0000cc;
  font-weight: bold;
}
.part2 p{
  font-size: 16pt;
  text-align:center;
  color: #0000cc;
  font-weight: bold;
}
.part3 p{
  font-size: 16pt;
  text-align:center;
  color: #0000cc;
  font-weight: bold;
}
.part4 p{
  font-size: 16pt;
  text-align:center;
  color: #0000cc;
  font-weight: bold;
}
.maincontent img{
  width:286px;
  height:200px;
}
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  height:300;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 40px 40px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  #ffffff;
  font: verdana 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: verdana;
  margin: 0;
}

.footer-distributed .footer-center{
   width: 30%;
    height: 80%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-left h3 ADDRESS{
  font-style: verdana;
  
}
.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: verdana;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: verdana;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight:verdana;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-distributed .footer-icons a img
{
  width:35px;
  height:35px;
}

.center1
{
  margin-bottom: 20px;
}

.center2
{
  margin-bottom: 100px;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px verdana;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
 .malls li a{
   text-decoration: none;
 }
 .mallimg p{
   font-style: verdana;
   font-size: 16pt;
   color: #3366cc;
   padding :10px;
   margin-bottom: 0;
 }